*.mp4
*.suo
*.obj
*.tlog
CarParkSurveillance/CarParkSurveillance/x64/Debug/CarParkSurveillance.log
*.idb
CarParkSurveillance/CarParkSurveillance/x64/Debug/vc140.pdb
*.exe
CarParkSurveillance/x64/Debug/CarParkSurveillance.ilk